.allCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
    gap: 20px;
}

.allRecipies {
    font-weight: bold;
    color:gray;
    margin-left: 20px;
    font-size:20px
}

.newConatainer {
    display: flex;
    justify-content: center;
}

.new {
    width: 60px;
    height: 60px;
    background-color: gray;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
}