.searchContainer {
    height: 50px;
    display: flex;
    justify-content: center;
    margin: 30px;

}

.search {
    width: 500px;
    border-radius: 10px;
    color: white;
    background-color: gray; 
}

.search::placeholder {
    color: white;
    padding-left: 10px;
}

.logoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin : 20px;
}

.logo {
    color: gray;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}

.Logout img {
    height:3rem;
    cursor: pointer;
}

.logo-1 {
    height:2.5rem;
    display: flex;
    flex-direction: row;
}

img {
    border-radius: 50%;
    margin-right: 0.5rem;
}

@media screen and (max-width:767px){
    img {
        border-radius: 50%;
    }
}